#HomeContainer {
    background-color: #EAEDED;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: fuentePrincipal;
    font-size: 1.6rem;
    max-width: 100vw;
}

#HomeContainerDark{
    background-color: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: fuentePrincipal;
    font-size: 1.6rem;
    color: white;
}

#mancha {
    width: 400px;
    height: 400px;
    margin: auto;
    fill: blue;
    position: absolute;
    margin-left: -150px;
    margin-top: -90px;
    z-index: 1;
}

#mancha2 {
    width: 400px;
    height: 400px;
    /* background-color: blue; */
    float: right;
    margin-top: 400px;
    margin-right: -150px;
}

#switch{
    position: fixed;
    width: 200px;
    bottom: 0;
}

#switch:hover{
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    #nav{
        visibility: hidden;
    }

    #mancha2 {
        width: 400px;
        height: 400px;
        /* background-color: blue; */
        float: right;
        margin-top: 400px;
        margin-right: -150px;
    }
  }
  
