#HomeContainer{
    /* background-color: #17202A; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: fuenteTexto;
    font-size: 1.6rem;
    font-weight: bold;
}


#fondo{
    position: fixed;
    background-image: url("../../Assets/fondo.jpg");
    background-size: cover;
    filter: opacity(0.8);
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: flex;
}

#borroso{
    /* backdrop-filter: blur(1px); */
    width: 100%;
    height: 100%;
}

@keyframes entrada {
    0% {
        opacity: 0;
        transform: translateX(-25vw);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes entrada2 {
    0% {
        opacity: 0;
        transform: translateX(25vw);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#contenedorFoto{
    animation: entrada 2s linear 0s 1 normal forwards;
    width: 20rem;
    height: 20rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* border-color: aqua;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px; */
}

#foto{
    width: 100%;
    height: 100%;
    background-image: url("../../Assets/foto.png");
    background-size: cover;
    background-color: black;
}

#tituloHome{
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    color:black;
    animation: entrada2 2s linear 0s 1 normal forwards;
}

#infoContainer{
    animation: entrada 2s linear 0s 1 normal forwards;
    margin: auto;
    width: 50%;
    margin-top: 2rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}

.tituloInfo{
    color:whitesmoke;
    text-align: center;
}

.textoInfo{
    color: whitesmoke;
    text-align: justify;
    margin-bottom: 2rem;
}

#contenedorTecnologias{
    animation: entrada2 2s linear 0s 1 normal forwards;
    margin: auto;
    width: 50%;
    /* margin-top: 2rem; */
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    padding: 1rem;
    margin-bottom: 2rem;
}

.logos:hover{
    animation: myAnim 2s linear 0s infinite normal forwards;
}

@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

#proyectosContainer{
    animation: entrada 2s linear 0s 1 normal forwards;
    display: flex;
    width: 70%;
    /* background-color: red; */
    flex-direction: column;
    margin: auto;
    margin-top: 2rem;
}

#tituloProyectos{
    color:black;
}

.linkContacto{
    text-decoration: none;
    color: rgb(148, 203, 255);
}

.textoContacto{
    color: whitesmoke;
    text-align: center;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1024px){
    #HomeContainer{
        /* background-color: #17202A; */
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: fuenteTexto;
        font-size: 1.4rem;
        font-weight: bold;
    }

    #fondo{
        position: fixed;
        background-attachment: fixed;
        background-image: url("../../Assets/fondo.jpg");
        background-size: cover;
        filter: opacity(0.8);
        width: 100%;
        height: 100vh;
        z-index: -1;
        display: flex;
    }

    #tituloHome{
        margin: 0;
        margin-right: auto;
        margin-left: auto;
        color:black;
        animation: none;
    }

    #contenedorFoto{
        animation: none;
        max-width: 20rem;
        max-height: 20rem;
        margin: auto;
        margin-top: 12rem;
        margin-bottom: 2rem;
        width: 70vw;
        height: 70vw;
    }

    #infoContainer{
        animation: none;
        margin: auto;
        width: 80%;
        margin-top: 2rem;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(3px);
    }

    #contenedorTecnologias{
        animation: none;
        margin: auto;
        width: 80vw;
        /* margin-top: 2rem; */
        color:rgb(255, 255, 255);
        display: flex;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(3px);
        padding: 1rem;
        margin-bottom: 2rem;
    }

    #proyectosContainer{
        animation: none;
        display: flex;
        width: 100vw;
        /* background-color: red; */
        flex-direction: column;
        margin: auto;
        margin-top: 2rem;
    }
}