#NavContainer {
    width: 40%;
    /* height: 5rem; */
    /* background-color: red; */
}

#imagen {
    height: 7rem;
    position: absolute;
    z-index: 1;
}

#contenedorSubTitulo{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-weight: 100;
    /* background-color: red; */
    z-index: 2;
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 2rem;
}

#subTitulo{
    font-size: 2rem;
    font-weight: 100;
    z-index: 20;
    margin-left: 3rem;
}

#subTitulo:hover{
    font-size: 2rem;
    font-weight: 100;
    z-index: 20;
    margin-left: 3rem;
    color: #BFC9CA;
    cursor: pointer;
}

